body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul > li{
  border: 1px solid #f0f0f0;
  padding-left: 20px;
  list-style: none;
  margin-top: 10px;
}

.colored{
  display: block;
  background: #E6F1F6;
}

span{
  margin-left: 40px;
  display: block;
}
